* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hwb(47 31% 4%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 425px;
    height: 600px;
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 10px 10px 0 black;
}

.card img {
    width: auto;
    height: auto;
    border-radius: 16px;
    margin: 20px;
    margin-bottom: 10px;
}

.card span {
    display: block;
    width: fit-content;
    background-color: hwb(47 31% 4%);
    padding: 8px;
    border-radius: 12px;
    display: inline-block;
    margin: 10px 0px 0px 20px;
}

.card p {
    margin: 10px 0px 0px 20px;
}

.card h1 {
    margin: 10px 0px 0px 20px;
}

.content {
    margin-left: 20px;
}


.author {
    display: flex;
    align-items: center;
    margin: 35px 0 15px 20px;
}

.author img.logo {
    margin: 0px;
}

.author h2 {
    display: inline;
    font-size: 24px;
    font-weight: 800;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;         /* Take 90% of screen width */
    height: auto;       /* Let height grow naturally */
    margin: 20px;
  }

.card img {
  width: calc(100% - 40px);
  margin: 20px;
  height: auto;
  border-radius: 16px;
}

  .card span,
  .card p,
  .card h1,
  .card .content,
  .author {
    margin-left: 20px;
    margin-right: 20px;
  }

  .author {
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
  }

  .author img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .author h2 {
    font-size: 16px;
  }
}